In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("marketing_customer_analysis.csv")

In [3]:
data.head()

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize

In [ ]:
data.info()

In [ ]:
data.describe()

In [4]:
y = data["Total Claim Amount"]
x = data.drop("Total Claim Amount", axis = 1).select_dtypes("number")

In [5]:
from sklearn.preprocessing import Normalizer
transformer = Normalizer().fit(x)
x_normalized = transformer.transform(x)

In [6]:
df_norm = pd.DataFrame(x_normalized)

In [7]:
c = list(x.columns)
df_norm.columns = [c]
df_norm = pd.concat([df_norm,data["Total Claim Amount"]], axis = 1)
df_norm.head()

,"(Customer Lifetime Value,)","(Income,)","(Monthly Premium Auto,)","(Months Since Last Claim,)","(Months Since Policy Inception,)","(Number of Open Complaints,)","(Number of Policies,)",Total Claim Amount
0,0.049049,0.998795,0.001225,0.000568,0.000089,0.0,0.000018,384.811147
1,0.999889,0.000000,0.013466,0.001862,0.006017,0.0,0.001146,1131.464935
2,0.255494,0.966808,0.002141,0.000357,0.000753,0.0,0.000040,566.472247
3,0.999865,0.000000,0.013862,0.002354,0.008500,0.0,0.000915,529.881344
4,0.064055,0.997944,0.001662,0.000273,0.001002,0.0,0.000023,138.130879